<% provide(:title, "Edit Profile") %>
<h1>Update your profile</h1>

<div class="row">
  <div class="col-md-8 col-md-offset-2">

    <%= form_for(@user) do |f| %>
    <%= render 'shared/error_messages' %>

      <%= f.label :email %>
      <%= f.text_field :email, class: 'form-control' %>

      <%= f.label :user_name %>
      <%= f.text_field :user_name, class: 'form-control' %>


      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Confirm" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.submit "Update Changes", class: "btn btn-primary form-control" %>
    <% end %>
  </div>
</div>
<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", user_delete_path, data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>
