<p id="alert"><%= alert %></p>
<div class="container">
 <div class="row">
  <div class="col-md-8 col-md-offset-2">
        <h1>Login</h1>
         <%= form_for(:session, url: login_path) do |f| %>
          <br>
          <%= f.label :email %>
          <%= f.email_field :email, class: 'form-control' %>
          <br>
          <%= f.label :password %>
          <%= f.password_field :password, class: 'form-control' %>
          <br>
          <%= f.submit "Log in", class: "btn btn-primary" %>
        <% end %>
      </div>
  </form>
</div>

