<% provide(:title, "Edit Profile") %>
<h1>Update your profile</h1>

<div class="row">
  <div class="col-md-3 col-md-offset-2">

    <%= form_for(@user) do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :email %>
      <%= f.text_field :email, class: 'form-control' %>

      <%= f.label :user_name %>
      <%= f.text_field :user_name, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Confirm" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.submit "Update Changes", class: "btn btn-primary form-control" %>
    <% end %>
  </div>
<h3>Cancel my account</h3>

<p>Unhappy? <%= link_to "Delete Profile", user_path(current_user.id), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>
</div>
