<% provide(:title, "Sign up") %>
<h1>Sign Up</h1>

<div class="container">
  <div class="col-md-8 col-md-offset-2">

    <%= form_for @user do |f| %>

      <%= f.text_field :name %>


      <%= f.text_field :user_name %>


      <%= f.text_field :email %>


      <%= f.password_field :password %>


      <%= f.password_field :password_confirmation %>
   <%= f.submit 'Login', class: "btn waves-effect waves-light col s12" %>
  <% end %>
  </div>
</div>

