<%= render 'form' %>
<div class="text-center edit-links">

  <%= link_to "Delete Shoe", user_shoe_path, method: :delete, data: { confirm: "Are you sure you want to delete this shoe?" } %>
  |
  <%= link_to "Cancel", shoes_path %>

  <%= link_to 'Show', @shoe %> |
  <%= link_to 'Back', shoes_path %>
</div>
