
<p id="notice"><%= notice %></p>
<div class = "row shoes-grid">
  <% @shoes.each do |shoe| %>
    <div class = "col-md-3">
      <div class="shoe">
        <%= image_tag shoe.image.url(:medium), class: 'img-responsive' %><br>
          <P>Name: <%= shoe.name %> </P><br>
          <P>Brand: <%= shoe.brand %> </P><br>
          <P>Size: <%= shoe.size %> </P><br>
          <P>condition: <%= shoe.condition %> </P><br>
          <P>Price: <%= shoe.price %> </P><br>
          <P>Noted: <%= shoe.notes %> </P><br>
        </div>
          <div>
            <%= link_to 'Edit', edit_shoe_path(shoe) %> |
            <%= link_to 'Delete', shoe, method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
    <% end %>
   </div>
</div>




