<p id="notice"><%= notice %></p>

<div class = "row shoes-grid">
  <% @shoes.each do |shoe| %>
    <div class = "col-md-3 shoe-item">
      <div class="panel panel-default Shoe">
        <div class="panel-body">
          <%= image_tag shoe.image.url(:medium), class: "img-responsice" %><br>
        </div>
        <div class="panel-footer">
          Name: <%= shoe.name %> <br>
          Brand: <%= shoe.brand %> <br>
          Size: <%= shoe.size %> <br>
          condition: <%= shoe.condition %> <br>
          Price: <%= shoe.price %> <br>
          Noted: <%= shoe.notes %> <br>
          <% if shoe.user == current_user %>
          <div>
            <%= link_to 'Edit', edit_shoe_path(shoe) %> |
            <%= link_to 'Delete', shoe, method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>



