  <h1>Sell Your Kicks</h1>
  <%= bootstrap_form_for(@shoe, multipart: true, url: user_shoes_path(@user, @shoe)) do |f| %>
    <div class="form-group">
      <%= f.file_field :image %>
      </div>
      <%= f.text_field :name %> <br>
      <%= f.text_field :size %> <br>
      <%= f.select :condition, [['DS','DS'],['VNDS','VNDS'],['GOOD','GOOD'], ['BEATERS', 'BEATERS']] %><br>
      <%= f.select :brand, [['NIKE','NIKE'],['ADIDAS','ADIDAS'],['ASICS','ASICS'], ['NEW BALANCE', 'NEW BALANCE']] %><br>
      <%= f.text_field :price %> <br>
      <%= f.text_field :notes %> <br>
      <%= f.text_field :color %> <br>
      <%= f.submit class:'btn btn-success' %>
  <% end %>
