
<div class="text-center edit-links">

    <div class="row">
      <%= image_tag @shoe.image.url(:medium) %><br>
      Name: <%= @shoe.name %> <br>
      Brand: <%= @shoe.brand %> <br>
      Size: <%= @shoe.size %> <br>
      condition: <%= @shoe.condition %> <br>
      Price: <%= @shoe.price %> <br>
      Noted: <%= @shoe.notes %> <br>
    </div>

      <%= link_to "Back", shoes_path %>
      |
     <%= link_to "Edit Shoe", edit_shoe_path %>
</div>

